@font-face {
    font-family: 'brightgrotesk';
    src: url('../fonts/brightgrotesk-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/brightgrotesk-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --theme-color2: #e5007d;
}




.banner-section .outer-box.pageCover {
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
}

.cover-page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form .form-group input:not(:focus),
.contact-form .form-group textarea:not(:focus),
.contact-form .form-group select:not(:focus) {
    border-color: #fff;
}


.page-wrapper,
.dark-layout .sticky-header {
    background-color: #000;
}

.main-footer {
    background-color: inherit;
}

.main-footer .widget-title:before {
    display: none;
}

.about-section-two .content-column .sec-title-two {
    border-bottom: none;
    padding-bottom: inherit;
}


.banner-section .title {
    font-size: 72px;
    line-height: 120% !important;
}

p, .text,
.testimonial-block .text,
.user-links li,
.sec-title-three .sub-title {
    color: #fff;
}

.sec-title-three .sub-title:before {
    border-color: #fff;
    opacity: 1;
}

.contact-info-list li .icon {
    color: #fff;
}

.sec-title .sub-title {
    margin-bottom: 5px;
}

.testimonial-block .text {
    position: relative;
}
.testimonial-block .text:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 80%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.social-icon-two li a {
    font-size: 30px;
}


.team-block .info-box {
    padding: 20px 0 0;
}

.team-block .info-box .name {
    font-size: 32px;
    margin-bottom: 10px;
}
.team-block .info-box .designation {
    font-size: 25px;
}


.features-section .features-list li {
    margin-bottom: 50px;
}

.features-section .image-column .image:before {
    background-image: none;
    background-color: #fff;
}